h1 {
  color: #434442;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px
}

body {
  background-image: url("images/pug.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-size:100% 100vh;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #333333;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #434442;
}

a:hover {
  color: #FFFFFF;
}

.btn-red{
  background-color: #3D3D3D;
  color: #7d7d7d;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

.container{
  width: 50%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-height {
  padding-bottom: 10px;
}

i {
  font-size: 2em;
}

li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}


.card{
  background: rgba(253, 255, 252, 0.5);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
}

 ul {
 list-style-type: none;
 padding-right: 40px;
 }
